{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/event/index.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body -%}
<div id="contact_list" class="container-fluid list-container">

  <div class="col-md-12 message-scroll mCustomScrollbar">
    <h1>Messages</h1>


          {% for contact in contacts %}
          <div class="row" style="border-bottom: 0.5px solid grey">
            <table class="col-xs-12 col-md-12 col-sm-12 col-lg-12 records_list result">
                <tbody>
            <td>
              <h4>{{ contact.object }}
                {% if contact.seen == 0 %}
                <span class="badge">Pas lu</span>
                {% endif %}
              </h4>
              {{ contact.message[:290] }}
              {% if contact.message > contact.message[: 290] %}
                ...
              {% endif %}
              <br>
            </td>
            <td class="hidden-xs">
              <label>Nom et Prénom du contact :</label>
              {% if contact.lastname %}{{ contact.lastname }}{% endif %}
              {% if contact.firstname %}{{ contact.firstname }}{% endif %}
                <label>Email du contact :</label>
                {% if contact.email %}{{ contact.email }}{% endif %}
            </td>
            <td>
              <a class="btn btn-default btn-edit" href="{{ path('contact_show', { 'id': contact.id }) }}">Voir le mail</a>
              <a class="btn btn-danger btn-delete " data-toggle="modal" data-target="#myModal">Supprimer</a>
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>Etes vous-sur de vouloir supprimer ce message ?</p>
                      <a class="btn btn-danger btn-delete" href="{{ path('delete', {'id': contact.id}) }}">Supprimer</a>
                      <button type="button" class="btn btn-default btn-edit" data-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </div>
    </table>
    </div>
</div>
{% endblock %}
