<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}Pôle-Emploi | PAM{% endblock %}
    </title>
    {% block stylesheets %}
      <link href="{{ asset('bootstrap/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
      <link href="{{ asset('bootstrap/bootstrap.min.css.map') }}" type="text/css" rel="stylesheet"/>
      <link href="{{ asset('css/header.css') }}" type="text/css" rel="stylesheet"/>
      <link href="{{ asset('css/home.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  </head>
  <body>
    {% include 'modules/header.html.twig' %}
    {% include 'modules/home.html.twig' %}
    <div class="container-fluid">
      {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
      <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}" charset="utf-8"></script>
      <script src="{{ asset('bootstrap/bootstrap.min.js') }}" charset="utf-8"></script>
    {% endblock %}
  </body>
</html>
