<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}Pôle-Emploi | PAM{% endblock %}
    </title>
    {% block stylesheets %}
      <link href="{{ asset('web/bootstrap/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
      <link href="{{ asset('web/bootstrap/bootstrap.min.css.map') }}" type="text/css" rel="stylesheet"/>
      <link href="{{ asset('web/css/Core/header.css') }}" type="text/css" rel="stylesheet"/>
      <link href="{{ asset('web/css/Core/index.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('web/favicon.ico') }}"/>
  </head>
  <body>
      {% include 'modules/header.html.twig' %}
      {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
      <script src="{{ asset('web/node_modules/jquery/dist/jquery.min.js') }}" charset="utf-8"></script>
      <script src="{{ asset('web/bootstrap/bootstrap.min.js') }}" charset="utf-8"></script>
      <script src="{{ asset('web/js/jquery.mCustomScrollbar.concat.min.js') }}" charset="utf-8"></script>
      <script src="{{ asset('web/js/scrollbar.js') }}" charset="utf-8"></script>
    {% endblock %}
  </body>
</html>
