{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/event/index.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body -%}

  <div class="container-fluid event-container">

    <div class="col-md-12 scroll mCustomScrollbar">
      <h1>Mes Événements</h1>

      <table class="col-xs-12 col-md-12 col-sm-12 col-lg-12 records_list result">

        <div class="row">
          <tbody>
            {% for entity in entities %}
              {% if entity.image_id == null %}
              <td class="col-md-2 images" style="background-image:url('{{ asset('images/logo-pole-emploi_region.png') }}')"></td>
              {% else %}
              <td class="col-md-2 images" style="background-image:url('{{ asset(entity.images.AssetPAth) }}"></td>
              {% endif %}

              <td>
                <h4>{{ entity.title }}</h4>
                {{ entity.description[:290] }}
                {% if entity.description > entity.description[: 290] %}
                  ...
                {% endif %}
                <a href="{{ path('event_show', { 'id': entity.id }) }}">En savoir plus</a>
                <br>
              </td>
              <td class="col-md-2 date">
                {% if entity.date_start %}{{ entity.date_start|date('d-m-Y H:i') }}{% endif %}
              </td>
              <td class="col-md-2 date">
                {% if entity.date_end %}{{ entity.date_end|date('d-m-Y H:i') }}{% endif %}
              </td>
            </tr>
          {% endfor %}
        </div>
      </table>
      </div>
  </div>


{% endblock %}
