{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/event/index.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}
  <div class="container-fluid event2-container">

    <div class="col-md-12 scroll event-scroll mCustomScrollbar">
      <h1>Mes événements</h1>

      <table class="col-xs-12 col-md-12 col-sm-12 col-lg-12 records_list result">

        <div class="row">
          <tbody>
            {% for entity in entities %}
              {% if entity.images == null %}
              <td class="col-md-2 images" style="background-image:url('{{ asset('images/logo-pole-emploi_region.png') }}')"></td>
              {% else %}
              <td class="col-md-2 images" style="background-image:url('{{ asset(entity.images.AssetPath) }}"></td>
              {% endif %}

              <td>
                <h4>{{ entity.title }}
                {% if entity.scratch == 1 %}
                <span class="badge">Brouillon</span>
                {% endif %}
                </h4>
                {{ entity.description[:290] }}
                {% if entity.description > entity.description[: 290] %}
                  ...
                {% endif %}
                <a href="{{ path('event_show', { 'id': entity.id }) }}">En savoir plus</a>
                <br>
              </td>
              <td class="col-md-2 date">
                <label for="dateStart">Date de début</label>
                {% if entity.dateStart %}{{ entity.dateStart|date('d-m-Y H:i') }}{% endif %}
              </td>
              <td class="col-md-2 date">
                <label for="dateStart">Date de début</label>
                {% if entity.dateEnd %}{{ entity.dateEnd|date('d-m-Y H:i') }}{% endif %}
              </td>
              <td>
                {% if entity.scratch == 1 %}
                <a class="btn btn-default btn-edit" href="{{ path('event_edit', { 'id': entity.id }) }}">Continuer</a>
                {% else %}
                <a class="btn btn-default btn-edit" href="{{ path('event_edit', { 'id': entity.id }) }}">Éditer</a>
                {% endif %}
                <a class="btn btn-danger btn-delete" data-toggle="modal" data-target="#myModal{{ entity.id }}">Supprimer</a>
                <div id="myModal{{ entity.id }}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <p>Etes vous-sur de vouloir cette évement ?</p>
                        <a class="btn btn-danger" href="{{ path('delete', {'id': entity.id}) }}">Supprimer</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </div>
      </table>
      </div>
  </div>

{% endblock %}
