{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/event/new.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body -%}

  <div class="container event3-container">
    <div class="row">
      <h1>Publier un événement</h1>
    </div>
      {{ form_start(form) }}
    <div class="row">
      <div class="col-md-12 contact">
        <h4>Contact de l'évènement</h4>
        <div class="row">
          <div class="col-md-1">
            {{ form_widget(form.contact_name, { 'attr': {'class': 'inline contact_name', 'placeholder': 'Nom du contact','tabindex':'1'} })  }}
          </div>
          <div class="col-md-1 col-md-push-1">
            {{ form_widget(form.contact_email, { 'attr': {'class': 'inline contact_email', 'placeholder': 'Email du contact','tabindex':'2'} }) }}
          </div>
          <div class="col-md-1 col-md-push-8">
            {{ form_widget(form.author,{ 'attr': {'value': app.user.username, 'readonly':'readonly'}}
            ) }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 description">
        <h4>Description</h4>
        <div class="row">
          <div class="col-md-4">
            {{ form_widget(form.sector, { 'attr': {'class': 'btn btn-default col-md-12','tabindex':'3'}}) }}
          </div>
          <div class="col-md-4">
            {{ form_widget(form.publics, { 'attr': {'class': 'btn btn-default col-md-12','tabindex':'4'}}) }}
          </div>
          <div class="col-md-4">
            {{ form_widget(form.type, { 'attr': {'class': 'btn btn-default col-md-12','tabindex':'5'}}) }}
          </div>
          <div class="col-md-12">
            {{ form_widget(form.title, { 'attr': {'id': 'title','class':'col-md-12 title', 'placeholder': 'Titre*','tabindex':'6'}}) }}
          </div>
          <div class="col-md-12">
            {{ form_widget(form.description, { 'attr': {'class': 'inline col-md-12', 'placeholder': 'Description*','tabindex':'7'}}) }}
          </div>
          <div class="col-md-12">
            {{ form_errors(form.contact_name, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.contact_email, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.dateStart, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.dateEnd, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.title, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.description, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.place, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.links, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.images, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
            {{ form_errors(form.uploadedFiles, { 'attr': {'class':'list-group-item list-group-item-danger'}}) }}
          </div>
          <div class="col-md-4 headlines">
            <div class="big-label col-md-6">
              À la une :
            </div>
            {{ form_widget(form.headlines, { 'attr': {'class':'headlines-check col-md-2','label':'À la une','tabindex':'23'} }) }}
          </div>
          <div class="col-md-2 col-md-push-6">
            {{ form_row(form.submit,{ 'attr':  { 'class':'btn-submit col-md-12','label': 'Publier','tabindex':'22' }}) }}
          </div>
        </div>
      </div>
      <div class="col-md-5 detail">
        <div class="row">
          <div class="col-md-12  detail-top">
            <h4 class="col-md-12">Détails</h4>
            <div class="col-md-12 place">
              {{ form_widget(form.place.adress1, { 'attr': {'class': 'col-md-9','tabindex':'8'}}) }}
              {{ form_widget(form.place.adress2, { 'attr': {'class': 'col-md-9','tabindex':'9'}}) }}
              {{ form_widget(form.place.city, { 'attr': {'class': 'col-md-4','tabindex':'10'}}) }}
              {{ form_widget(form.place.cp, { 'attr': {'class': 'col-md-4 ','tabindex':'11'}}) }}
              {{ form_widget(form.place.country, { 'attr': {'class': 'col-md-4','tabindex':'12'}}) }}
            </div>
            <h6 class="col-md-12">Date de début*</h6>
              <div class="col-md-6">
                {{ form_widget(form.dateStart,{'attr':{'tabindex':'13'}}) }}
                </div>
              <div class="col-md-6">
                {{ form_widget(form.timeStart,{'attr':{'tabindex':'14'}} )}}
              </div>
            <h6 class="col-md-12">Date de fin*</h6>
              <div class="col-md-6">
                {{ form_widget(form.dateEnd,{'attr':{'tabindex':'15'}} )}}
                </div>
              <div class="col-md-6">
                {{ form_widget(form.timeEnd,{'attr':{'tabindex':'16'}} )}}
              </div>



          </div>
          <div class="col-md-12">
            {{ form_widget(form.images, { 'attr': {'class': 'col-md-12','tabindex':'17'} }) }}
            <h5 class="col-md-12">Ajouter des fichiers annexes</h5>
            {{ form_widget(form.uploadedFiles, { 'attr': {'class': 'col-md-12','tabindex':'18'} }) }}
            {{ form_widget(form.links, { 'attr': {'class': 'col-md-12 links','tabindex':'19'}}) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(form) }}

    <a class="btn btn-default btn-edit" href="{{ path('event') }}">
      Retour à la liste des événements
    </a>

  {% endblock %}
  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addLinks.js')}}" type="text/javascript"></script>
  {% endblock %}
