{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/event/index.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}

  <div class="container-fluid event-container">
    {% if events is empty %}
      <div class="col-md-12 error">{{ errorMessage }}</div>
    {% else %}
      <div class="col-md-12 scroll mCustomScrollbar">
        {% if events|length > 1 %}

        <div class="col-md-12">
<span class="badge">Nombre d'événements : {{ count }}</span>

        </div>
        <div class="col-md-12">
          <h1>Evénements</h1>
          {% else %}
          <h1>Evénement</h1>
          {% endif %}
        </div>


        <table class="col-xs-12 col-md-12 col-sm-12 col-lg-12 records_list result">
          <div class="row">
            <tbody>
              {% for event in events %}
                {% if event.url == null %}
                  <td class="col-md-2 images" style="background-image:url('{{ asset('images/logo-pole-emploi_region.png') }}')"></td>
                {% else %}
                <td class="col-md-2 images" style="background-image:url('{{ asset('uploads/img/'~ event.url) }}"></td>
                {% endif %}
                <td>
                  <h4>{{ event.title }}
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <span class="badge">{{ event.author }}</span>
                    {% endif %}
                  </h4>
                  {{ event.description[:290] }}
                  {% if event.description > event.description[: 290] %}
                    ...
                  {% endif %}
                  <a href="{{ path('event_show', { 'id': event.id }) }}">En savoir plus</a>
                  <br>
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and event.author == app.user.username or is_granted("ROLE_SUPER_ADMIN") %}
                  <a href="{{ path('event_edit', { 'id': event.id }) }}">Éditer</a>
                  {% endif %}
                </td>
                <td class="col-md-2 date">
                  <label for="dateStart">Date de début</label>
                  {% if event.date_start %}{{ event.date_start|date('d-m-Y') }}{% endif %}
                </td>
                <td class="col-md-2 date">
                  <label for="dateStart">Date de début</label>
                  {% if event.date_end %}{{ event.date_end|date('d-m-Y') }}{% endif %}
                </td>
              </tr>
            {% endfor %}
          </div>
        </table>

      </div>
    {% endif %}
    <div class="center">
    {% if page > 1 %}
    <a class='page' href="{{ path('search', {'page': page - 1}, {'page': page - 1}) }}">Page précédente</a>
    {% endif %}
    {{ page }}
    {% if page < nbPage  %}
    <a class='page' href="{{ path('search', {'page': page + 1}, {'page': page + 1}) }}">Page suivante</a>
    {% endif %}

  </div>

  </div>

</div>
</div>

{% endblock %}
