{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/event/index.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body -%}

  <div class="container-fluid event-container">
    {% if events is empty %}
      <div class="col-md-12 error">{{ errorMessage }}</div>
    {% else %}
      <div class="col-md-12 scroll mCustomScrollbar">
        <h1>Événements correspondants</h1>

        <table class="col-xs-12 col-md-12 col-sm-12 col-lg-12 records_list result">
          <div class="row">
            <tbody>
              {% for event in events %}
                {% if event.image_id == null %}
                  <td class="col-md-2 images" style="background-image:url('{{ asset('images/logo-pole-emploi_region.png') }}')"></td>
                {% else %}
                  <td class="col-md-2 images" style="background-image:url('{{ asset(event.image_id.AssetPAth) }}"></td>
                {% endif %}
                <td>
                  <h4>{{ event.title }}</h4>
                  {{ event.description[:290] }}
                  {% if event.description > event.description[: 290] %}
                    ...
                  {% endif %}
                  <a href="{{ path('event_show', { 'id': event.id }) }}">En savoir plus</a>
                  <br>
                  <a href="{{ path('event_edit', { 'id': event.id }) }}">Éditer</a>
                </td>
                <td>
                  {% if event.date_start %}{{ event.date_start|date('d-m-Y') }}{% endif %}
                </td>
                <td>
                  {% if event.date_end %}{{ event.date_end|date('d-m-Y') }}{% endif %}
                </td>
              </tr>
            {% endfor %}
          </div>
        </table>
      </div>
    {% endif %}
  </div>

</div>
</div>

{% endblock %}
