{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/event/index.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body -%}

  <div class="container-fluid event-container">

    <div class="col-md-12 scroll mCustomScrollbar">
      <h1>Événements correspondants</h1>

      <table class="col-xs-12 col-md-12 col-sm-12 col-lg-12 records_list result">
        <thead>
          <tr>
            <th class="col-md-2"></th>
            <th class="col-md-6">Événement</th>
            <th class="col-md-2">Date de début</th>
            <th class="col-md-2">Date de fin</th>
          </tr>
        </thead>
        <div class="row">
          <tbody>
            {% for event in events %}
              <td style="background-image:url('{{ asset('images/img1.jpg') }}')"></td>
              <td>
                <h4>{{ event.title }}</h4>
                {{ event.description[:290] }}
                {% if event.description > event.description[: 290] %}
                  ...
                {% endif %}
                <a href="{{ path('event_show', { 'id': event.id }) }}">En savoir plus</a>
                <br>
                <a href="{{ path('event_edit', { 'id': event.id }) }}">Éditer</a>
              </td>
              <td>
                {% if event.date_start %}{{ event.date_start|date('Y-m-d H:i:s') }}{% endif %}
              </td>
              <td>
                {% if event.date_end %}{{ event.date_end|date('Y-m-d H:i:s') }}{% endif %}
              </td>
            </tr>
          {% endfor %}
        </div>
      </div>
  </div>

</table>
</div>
</div>

{% endblock %}
