  {% trans_default_domain 'FOSUserBundle' %}
<h1> {{ user }} </h1>
<div class="row">
    <div id="carre-register" class="carre col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        {{ form_start(form, { 'action': path('list_update', {'id': user.id}), 'attr': { 'id':'form-changepassword','class': 'fos_user_registration_register fosuser-form col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3' } }) }}
        {{ form_widget(form.plainPassword.first,{'attr': {'class': 'col-sm-12 fosuser-input '}}) }}
        {{ form_widget(form.plainPassword.second,{'attr': {'class': 'col-sm-12 fosuser-input '}}) }}
        <input class="col-sm-12 submit btn btn-default" type="submit" value="{{ 'change_password.submit'|trans }}"/><br>
        <div id="link">
            <a href="{{ path('list') }}">Retour à la liste</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
