{% trans_default_domain 'FOSUserBundle' %}
<div class="carre">
<div class="form" id="form-changepassword">
{{ form_start(form, { 'action': path('list_update', {'id': user.id}), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="fosuser-submit">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
<div class="fosuser-liens">
  <a href="{{ path('list') }}">Retour à la liste</a>
</div>
</div>
