  {% trans_default_domain 'FOSUserBundle' %}
<div class="container-fluid changepassword-container">
  <div class="col-md-6 col-md-offset-3 carre">
      {{ form_start(form, { 'action': path('list_update', {'id': user.id}), 'attr': { 'id':'form-changepassword','class': 'fos_user_registration_register fosuser-form col-md-12' } }) }}
      {{ form_widget(form.plainPassword.first,{'attr': {'class': 'fosuser-input '}}) }}
      {{ form_widget(form.plainPassword.second,{'attr': {'class': 'fosuser-input '}}) }}
      <input class="fosuser-btn submit btn btn-default btn-edit" type="submit" value="{{ 'change_password.submit'|trans }}"/><br>
      <div id="link">
          <a href="{{ path('list') }}">Retour à la liste</a>
      </div>
      {{ form_end(form) }}
  </div>
</div>
