{% extends '::base.html.twig'%}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/Core/media.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}
  <div class="container-fluid home-container">
    <div class="row" id="centrale">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title">
        <h1>À la Une</h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg5 une">
        <div class="row img-une" style="background-image:url('{{ asset('images/img1.jpg') }}')"></div>
        <div class="row titre-une">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <h3>{{ events[0].title[:16]  }}</h3>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <h6>  {% if events[0].dateStart %}{{ events[0].dateStart|date('Y-m-d H:i:s') }}{% endif %} - {% if events[0].dateEnd %}{{ events[0].dateEnd|date('Y-m-d H:i:s') }}{% endif %}</h6>
          </div>
        </div>
        <div class="row text-une">
          <p>
              {{ events[0].description[:133] }}
            <a href="{{ path('event_show', { 'id': events[0].id }) }}">En savoir plus</a>
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 scroll mCustomScrollbar">
        {% for event in events | slice(1) %}
          {% if loop.index is odd %}
            <div class="row">
              <div class="hidden-md-down col-md-3 col-lg-3 img-mini" style="background-image:url('{{ asset('images/img1.jpg') }}')"></div>
              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 deux bleu">
                <div class="row titre-deux">
                  <div class="col-md-6 col-lg-6">
                    <h4>{{ event.title[:16] }}</h4>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h6>
                      {% if event.dateStart %}{{ event.dateStart|date('Y-m-d H:i:s') }}{% endif %}
                      - {% if event.dateEnd %}{{ event.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</h6>
                    </div>
                  </div>
                  <div class="row text-deux">
                    <p>
                      {{ event.description[:149] }}
                      <a href="{{ path('event_show', { 'id': event.id }) }}">En savoir plus</a>
                    </p>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="row">
                <div class="hidden-md-down col-md-3 col-lg-3 img-mini" style="background-image:url('{{ asset('images/img1.jpg') }}')"></div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 deux orange">
                  <div class="row titre-deux">
                    <div class="col-md-6 col-lg-6">
                      <h4>{{ event.title }}</h4>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <h6>
                        {% if event.dateStart %}{{ event.dateStart|date('Y-m-d H:i:s') }}{% endif %}
                        -{% if event.dateEnd %}{{ event.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</h6>
                      </div>
                    </div>
                    <div class="row text-deux">
                      <p>
                        {{ event.description }}
                        <a href="{{ path('event_show', { 'id': event.id }) }}">En savoir plus</a>
                      </p>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endblock %}
