<nav class="navbar navbar-fixed-top row no-padding">
  <header class="col-md-12 col-lg-12">
    <div class="row white">
      <div class="col-md-3 col-lg-3">
        <div class="logo">
          <a href="{{ path("core_homepage") }}">
            <img src="{{ asset('images/logo-pole-emploi_region.png') }}" alt="logo Pôle Emploi">
          </a>
        </div>
      </div>
      <div class="col-md-5 col-lg-5"></div>
      <div class="col-md-4 col-lg-4">
        <form class="navbar-form navbar-right inline-form search-top">
          <div class="form-group">
            <input type="search" class="input-sm form-control" placeholder="Recherche">
            <button type="submit" class="btn btn-primary btn-sm search-btn">
              <span class="glyphicon glyphicon-eye-open"></span>
              Chercher
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <nav class="navbar navbar-static-top static2">
        <div class="col-md-3 col-lg-3">
          <ul class="nav navbar-nav">
            <li class="active">
              <a class="navbar-brand" href="{{ path("core_homepage") }}">Accueil</a>
            </li>
            <li>
              <a class="navbar-brand" href="{{ path("event") }}">Événements</a>
            </li>
          </ul>
        </div>
        <div class="col-md-7 col-lg-7"></div>
        <div class="col-md-2 col-lg-2 nav">
          <div class="btn-group">
            <button type="button" class="btn navbar-brand padding dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Connexion
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                  <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{{ path("fos_user_security_login") }}">Connexion</a>
                </li>
              {% endif %}
              <li>
                <a href="{{ path("event_new") }}">Publier un événement</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
</nav>
