<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid container1">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('core_homepage') }}">
        <img alt="Logo Pôle Emploi" src="{{ asset('images/logo-pole-emploi_region.png') }}">
      </a>
    </div>
    <form class="navbar-form navbar-right inline-form search-top" role="search">
      <div class="form-group">
        <input type="search" class="input-sm form-control" placeholder="Recherche">
      </div>
      <button type="submit" class="btn btn-primary btn-sm search-btn">
        <span class="glyphicon glyphicon-eye-open"></span>
        Chercher</button>
    </form>
  </div>
  <nav class="navbar navbar-lower navbar-left navbar2" role="navigation">
    <div class="container-fluid container2">
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{ path('core_homepage') }}">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="{{ path('event') }}">Événements</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right connect-btn">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connexion
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                  <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                </li>
              {% endif %}
              <li>
                <a href="{{ path('event_new') }}">Publier un événement</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% if app.request.get('_route') == 'event' %}
  <nav class="navbar navbar-lower navbar-left navbar3" role="navigation">
    <form class="navbar-form inline-form" role="search">
      <div class="container-fluid container3">
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-2">
          <div class="center">
            <input type="search" class="input-sm form-control" placeholder="Recherche">
          </div>
          <ul class="nav navbar-nav">
            <li>
              <label for="beginning">Date de début</label>
              <input type="date" name="beginning">
            </a>
          </li>
          <li>
            <label for="end">Date de fin</label>
            <input type="date" name="end">
          </li>
          <li>
            <label for="end">Secteurs</label>
            <select>
              <option value="choix 1">choix 1</option>
              <option value="choix 2">choix 2</option>
              <option value="choix 3">choix 3</option>
              <option value="choix 4">choix 4</option>
            </select>
          </li>
          <li>
            <label for="end">Public</label>
            <select>
              <option value="choix 1">choix 1</option>
              <option value="choix 2">choix 2</option>
              <option value="choix 3">choix 3</option>
              <option value="choix 4">choix 4</option>
            </select>
          </li>
          <li>
            <label for="end">Type d'événement</label>
            <select>
              <option value="choix 1">choix 1</option>
              <option value="choix 2">choix 2</option>
              <option value="choix 3">choix 3</option>
              <option value="choix 4">choix 4</option>
            </select>
          </li>
          <li>
            <label for="end">Code ROME</label>
            <select>
              <option value="choix 1">choix 1</option>
              <option value="choix 2">choix 2</option>
              <option value="choix 3">choix 3</option>
              <option value="choix 4">choix 4</option>
            </select>
          </li>
        </ul>
        <div class="right">
          <ul class="nav navbar-nav navbar-right">
            <button type="submit" class="btn btn-primary btn-sm research-btn">
              <span class="glyphicon glyphicon-eye-open"></span>
              Chercher</button>
          </ul>
        </div>
      </div>
    </form>
  </nav>
  {% endif %}
</nav>
