<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid container1">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('core_homepage') }}">
        <img alt="Logo Pôle Emploi" src="{{ asset('images/logo-pole-emploi_region.png') }}">
      </a>
    </div>
    <form action="{{ path('search') }}" method="GET" class="navbar-form navbar-right inline-form search-top" role="search">
      <div class="form-group">
        <input type="search" class="input-sm form-control" name="query" placeholder="Recherche">
      </div>
      <button type="submit" class="btn btn-primary btn-sm search-btn">
        <span class="glyphicon glyphicon-eye-open"></span>
        Chercher</button>
    </form>
  </div>
  <nav class="navbar navbar-lower navbar-left navbar2" role="navigation">
    <div class="container-fluid container2">
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{ path('core_homepage') }}">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="{{ path('event') }}">Événements</a>
          </li>
          <li>
            <a href="{{ path('core_contact') }}"">Contact</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right connect-btn">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}
              <span class="caret"></span>
            </a>
              <ul class="dropdown-menu">
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li>
                  <a href="{{ path('list') }}">Contributeurs</a>
                </li>
                <li>
                  <a href="{{ path('fos_user_registration_register') }}">
                    Créer un contributeur
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="{{ path("event_new") }}">Publier un événement</a>
                </li>
                  <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                      {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                  </li>
              </ul>
            </li>
            {% else %}
            <li>
              <a href="{{ path('fos_user_security_login') }}">Connexion </a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% if app.request.get('_route') == 'event' or app.request.get('_route') == 'search' %}
  <nav class="navbar navbar-lower navbar-left navbar3" role="navigation">
    <form class="navbar-form inline-form" role="search">
      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="container-fluid container3">
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-2">
          <div class="center">
            <input type="search" name="query" class="input-sm form-control" placeholder="Recherche">
          </div>
          <ul class="nav navbar-nav">
            <li>
              <label for="dateStart" class="small-label">Date de début</label>
              {{ form_widget(form.dateStart, { 'attr': {'class': '', 'name' : 'beginning'} }) }}
            </a>
          </li>
          <li>
            <label for="dateEnd" class="small-label">Date de fin</label>
            {{ form_widget(form.dateEnd, { 'attr': {'class': '', 'name': 'end'} }) }}
          </li>
          <li>
            <label for="secteurs" id="secteurs" class="small-label">Secteurs</label>
            {{ form_widget(form.sector) }}
          </li>
          <li>
            <label for="publics" id="publics" class="small-label">Publics</label>
            {{ form_widget(form.publics) }}
          </li>
          <li>
            <label for="type" id="types" class="small-label">Type d'événement</label>
            {{ form_widget(form.type) }}
          </li>
        </ul>
        <div class="right">
          <ul class="nav navbar-nav navbar-right">
            {{ form_row(form.submit, { 'label': '', 'classe': 'btn btn-primary btn-sm research-btn' }) }}
              <span class="glyphicon glyphicon-eye-open"></span>
              Chercher</button>
          </ul>
          {{ form_end(form) }}

        </div>
      </div>
    </form>
  </nav>
  {% endif %}
</nav>
